#tilt {
  display: block;
  height: 300px;
  width: 300px;
  background-color: grey;
  margin: 0 auto;
  transition: box-shadow 0.1s, transform 0.1s;
  margin-top: 4rem;

  /*
      * Adding image to the background
      * No relation to the hover effect.
      */
  background-image: url(../../../public/assets/perfil.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

#tilt:hover {
  box-shadow: 0px 0px 30px rgba(1, 60, 162, 0.613);
  cursor: pointer;
}
