.portfolio__container {
  display: grid;
  overflow-x: hidden;
  gap: 1.5rem;
  scroll-snap-type: x mandatory;
  width: 100%;
  height: 1000px;
}


.portfolio__item {
  padding: 20px;
  background: var(--color-bg-variant);
  border: 1px solid transparent;
  transition: var(--transition);
  flex: 0 0 auto;
  width: 100%;
  scroll-snap-align: start;
  text-align: center;
}

.portfolio__item:hover {
  border-color: var(--color-primary-variant);
}


.portfolio__item-image {
  overflow: hidden;
  display: flex;
  justify-content: center;
}


iframe {
  border-radius: 30px;
  scroll-behavior: smooth;
  transform: scale(0.7);
  width: 100%;
  height: 1000px;
}


.portfolio__item-cta {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1rem;
  margin-bottom: 1rem;
}


@media screen and (max-width: 1024px) {
  .portfolio__item {
    width: 50%;

  }
}


@media screen and (max-width: 600px) {
  .portfolio__item {
    width: 80%;
    height: 600px;

  }
  .portfolio__item-image {
    height: 450px;
  }
  iframe {
    transform: scale(0.9);
  }
  #portfolio {
    
    padding: 30px;
    padding-bottom: 100px;
    padding-top: 0px;
  }
}
