.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Por defecto 3 columnas */
  gap: 20px;
}

.portfolio__item {
  padding: 20px;
  line-height: 1.6;
      border: 4px solid ;
    transition: var(--transition);

}

.portfolio__item:hover {
  border-color: #4d6eff;
  color: #bbdaec;
}

.label {
  font-weight: bold;
  font-size: 1.1em;
  display: block;
  margin-bottom: 4px;
}

h3{
    font-weight: bold;

}
.content {
  font-size: 0.9em;
  display: block;
}

ul {
  padding-left: 0; /* Eliminar el padding predeterminado */
  list-style-type: none; /* Opcional: eliminar los bullets */
}

ul li {
  margin-bottom: 4px; /* Espacio uniforme entre ítems de lista */
}

/* Media Queries */
@media (max-width: 768px) { /* Para tablets y pantallas pequeñas */
  .portfolio__container {
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en pantallas medianas */
  }
}

@media (max-width: 480px) { /* Para móviles */
  .portfolio__container {
    grid-template-columns: 1fr; /* 1 columna en pantallas pequeñas */
  }
}
