header {
  height: 120vh;
  padding-top: 2rem;
  overflow: hidden;
}
.header__container {
  text-align: center;
  height: 100%;
  position: relative;
  padding-left: 10%;
    padding-right: 10%;

}

/* cta */
.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}
.me {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(143, 26, 81, 0) 57%,
    rgba(163, 30, 93, 0) 65%,
    rgba(171, 31, 97, 0) 68%,
    rgba(184, 33, 104, 0) 73%,
    rgba(194, 35, 110, 0) 77%,
    rgba(202, 36, 114, 0) 80%,
    rgba(210, 37, 118, 0) 83%,
    rgba(233, 41, 131, 0) 92%,
    rgba(253, 45, 143, 0) 100%
  );
  width: 23rem;
  height: 30rem;
  position: absolute;
  left: calc(50% - 11rem);
  margin-top: 4rem;
  border-radius: 0 0 0 0;
  overflow: hidden;
  padding: 5rem 1.5rem 1.5rem 1.5rem;
  transition: box-shadow 0.1s, transform;
}
.me:hover {
  opacity: 90%;
  color: blue;
}

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 200;
  font-size: 0.9rem;
}

.scroll__down:hover {
  background-color: var(--color-primary);
  color: var(--color-bg-variant);
}
 .wrapper {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: left;
  } 
.wrapper .icon {
  position: relative;
  background: #ffffff;
  padding: 15px;
  margin: 10px;
  width: 50px;
  height: 50px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
}

.wrapper .icon:hover .tooltip {
  left: 60px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background: #1877f2;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background: #333333;
  color: #ffffff;
}

@media screen and (max-width: 1024px) {
  header {
    height: 88vh;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 100vh;
  }
  .header__socials,
  .scroll__down {
    display: none;
  }
}
